.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.intro div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro img { height: 10rem; }

.fade-in { opacity: 1; }
.fade-out { opacity: 0; }
