.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.intro img { height: 10rem; }

.intro.fade-in { opacity: 1; }
.intro.fade-out { opacity: 0; }
