.login {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* header */
.login-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
}

.skip {
  padding: .7rem 1rem;
  border: .1rem solid var(--gray-600);
  border-radius: .5rem;
  color: var(--gray-600);
  font-size: 1.4rem;
  transition: all 0.3s;
}

.skip:hover {
  background-color: var(--gray-100);
}

/* main */
.login-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 68rem;
  width: 100%;
  padding: 4rem 0;
}

.login-title {
  width: 100%;
}

.login-title h1 {
  font-family: 'Jalnan';
  font-weight: normal;
  font-size: 5rem;
  letter-spacing: .2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.login-title .point {
  font-family: 'Jalnan';
  font-weight: normal;
  font-size: 5rem;
  color: var(--main);
}

/* visual */
.login-visual {
  width: 100%;
  max-width: 33rem;
  margin: 0 auto;
}

.visual img {
  width: auto;
}

/* actions */
.login-actions {
  font-family: 'NanumSquare';
  font-weight: 800;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* button common */
.btn {
  width: 100%;
  padding: 1.8rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--main);
  color: var(--white);
  margin-bottom: 2rem;
}

.btn-primary:hover {
  background-color: #d01820;
}

.btn-other {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: var(--fs-17);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-other>button {
  border: .1rem solid var(--gray-600);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 3rem;
  border-radius: 1rem;
}

.btn-other>button:nth-of-type(1) img,
.btn-other>button:nth-of-type(2) img {
  height: 2.2rem;
}

.btn-other>button:nth-of-type(3) img {
  height: 2.6rem;
}

.btn-other>button span {
  padding: 1rem;
}

.btn-other>button:hover{
  background-color: var(--gray-100);
}


/* signup */
.signup {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.6rem;
  color: var(--gray-800);
  position: relative;
  z-index: 10;
}

.signup::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--gray-800);
}

.signup span {
  font-size: var(--fs-18);
  font-weight: 700;
}


.login{
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* page fade */
.login.fade-in { opacity: 1; }
.login.fade-out { opacity: 0; }
