.onboarding-bg{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--main);
  overflow-x: hidden;
}

/* ===== app ===== */
.onboarding{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-text{
  color: var(--white);
  text-align: center;
  font-size: var(--fs-16);
}

.desc{
  margin-bottom: 2.7rem;
}

.highlight{
  font-size: var(--fs-18);
  font-weight: 700;
}

.title{
  font-family: 'JalnanGothic';
  font-size: 4.5rem;
  color: var(--sub1);
  margin-bottom: 1rem;
}

.benefit{
  color: var(--white);
}

.coupon-desc{
  font-size: var(--fs-16);
}

.badge{
  background: var(--sub1);
  color: var(--main);
  font-size: var(--fs-18);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.3rem .7rem;
  margin: 0 0.3rem;
}


/* ===== coupon ===== */
.coupon{
  width: 140%;
  /* max-width: 34rem; */
  position: relative;
}

.coupon-main{
  width: 100%;
  margin-bottom: -5rem;
  position: relative;
  z-index: 2;
  animation: floatLeft 4s ease-in-out infinite;
}

.coupon-sub{
  width: 100%;
  position: relative;
  z-index: 1;
  animation: floatRight 4s ease-in-out infinite;
}



@keyframes floatLeft {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-2rem); }
  100% { transform: translateX(0); }
}

@keyframes floatRight {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(2rem); }
  100% { transform: translateX(0); }
}


/* ===== visual ===== */
.visual{
  margin-top: 4.2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.illust{
  width: 64vw;
  max-width: 32rem;
  margin-bottom: 5.6rem;
}

.logo{
  width: 10.4rem;
  display: block;
  margin: 0 auto 3rem auto;
}

