.onboarding-bg{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main);
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* ===== app ===== */
.onboarding{
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-text{
  color: var(--white);
  text-align: center;
  font-size: var(--fs-16);
}

.desc{
  margin-bottom: 2.7rem;
}

.highlight{
  font-size: var(--fs-18);
  font-weight: 700;
}

.title{
  font-family: 'JalnanGothic';
  font-weight: normal;
  font-size: 5rem;
  color: var(--sub1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit{
  font-family: 'JalnanGothic';
  font-weight: normal;
  font-size: 5rem;
  color: var(--white);
}

.coupon-desc{
  font-size: var(--fs-16);
}

.badge{
  background: var(--sub1);
  color: var(--main);
  font-size: var(--fs-18);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.3rem .7rem;
  margin: 0 0.3rem;
}


/* ===== coupon ===== */
.coupon{
  width: 200%;
  /* max-width: 34rem; */
  position: relative;
}

.coupon-main{
  width: 100%;
  margin-bottom: -15rem;
  position: relative;
  z-index: 2;
  animation: floatLeft 4s ease-in-out infinite;
}

.coupon-sub{
  width: 100%;
  position: relative;
  z-index: 1;
  animation: floatRight 4s ease-in-out infinite;
}

@keyframes floatLeft {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-4rem); }
  100% { transform: translateX(0); }
}

@keyframes floatRight {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(4rem); }
  100% { transform: translateX(0); }
}

.logo{
  width: 10.4rem;
  display: block;
  margin: 0 auto 3rem auto;
}

.onboarding-logo {
  margin-top: 5rem;
  width: 9rem;
}

.onboarding-logo img {
  width: 100%;
  height: auto;
}



/* 페이드 인아웃 */
.onboarding-bg{
  opacity: 0;
  transition: opacity 0.8s ease;
}
.onboarding-bg.fade-in { opacity: 1; }
.onboarding-bg.fade-out { opacity: 0; }