* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'scDream', sans-serif;
  word-break: keep-all;
  overflow-wrap: break-word;
}

html { font-size: 62.5%; }

body {
  color: var(--black);
  min-height: 100vh;
}

ol,ul{
	list-style-type:none;
}   

a{
  display: inline-flex;
	text-decoration:none;
	color:inherit;
}  

h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	margin-top: 0;
}

button {
  background: none;
  border: 0;
  padding: 0;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

em {
  font-style: normal;
}

.app{
width: 100%;
max-width: 390px;
margin: 0 auto;
/* min-height: 100vh; */
}

.content{
  padding: 0 1.2rem;
}

.bottom_nav{
  position: sticky;
  bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
}
