@import url(reset.css);
@import url(font.css);
@import url(variables.css);
@import url(intro.css);
@import url(onboarding.css);
@import url(login.css);
@import url(category.css);
@import url(main.css);